<div>
<div class="traffic-signal-box">
  <div class="light red" [class.active]="activeLight === 'red'">
    <span *ngIf="activeLight === 'red'">{{ countdown }}</span>
  </div>
  <div class="light yellow" [class.active]="activeLight === 'yellow'">
     <span *ngIf="activeLight === 'yellow'">{{ countdown }}</span>
  </div>
  <div class="light green" [class.active]="activeLight === 'green'">
     <span *ngIf="activeLight === 'green'">{{ countdown }}</span>
  </div>
</div>
<div >
   <!-- This button works only in manual mode -->
  <button  class="manual-change-btn" *ngIf="mode === 'manual'" (click)=" cycleLightForManual()">Change</button>
 </div>
</div>