<div class="traffic-signal-container">

  <p
    *ngIf="mode === 'auto'"
    [class.green-text]="activeLight === 'green'"
    [class.yellow-text]="activeLight === 'yellow'"
    [class.red-text]="activeLight === 'red'"
  >
    Remaining-Time : {{ RemainingTime }}
  </p>

  <div class="signal-wrapper">

    <button
      class="manual-change-btn"
      *ngIf="mode === 'manual'"
      (click)="cycleLightForManual()"
    >
      Change
    </button>

    <div class="traffic-signal-box">

      <!-- RED -->
      <div class="light red" 
           [class.active]="activeLight === 'red'">
        <span *ngIf="activeLight === 'red'">{{ text }}</span>
      </div>

      <!-- YELLOW -->
      <div class="light yellow"
           [class.active]="activeLight === 'yellow'"
           [class.blink]="mode === 'night' && isBlinking">
        <span *ngIf="activeLight === 'yellow'">{{ text }}</span>
      </div> 

      <!-- GREEN -->
      <div class="light green" 
           [class.active]="activeLight === 'green'">
        <span *ngIf="activeLight === 'green'">{{ text }}</span>
      </div>

    </div>

  </div>
</div>
